body{
    color: aliceblue;
    background-color: black;
}

h1{
    text-align: center;
    color: aliceblue;
    font-size: 400%;
}
div{
    text-align: center;
}

.qwe{
    font-size: 150%;
}
.eror{
    color: red;

}
.next{
    text-align: start;
}
.sub{
    width:150px;
    height: 30px;
    font-size: 120%;
    background-color: darkgrey;
}
.vb{
    background-color:white;
}
